<div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Zakky Gadgets</a>
          <form class="d-flex">
            <button class="btn btn-danger" type="submit" (click)="logout()">Logout</button>
          </form>
        </div>
    </nav>
</div>

<!-- main session -->
<div class="container mt-5">
    <h4 class="font-rubik font-size-20">New Phones</h4>
    <hr>
    <div class="row">
      <div class="col-sm">
        <div class="product font-rale">
            <div><img src="./assets/products/14.png" alt="product" class="img-fluid"></div>
            <div class="text-center">
                <div>i phone 7</div>
                <div class="rating text-warning font-size-12">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                </div> 
                <div class="price py-2">
                    <span>#670,500.00</span>
                </div>
                <button type="submit" class="btn btn-warning font-size-12">Add to cart</button>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="product font-rale">
            <div><img src="./assets/products/11.png" alt="product" class="img-fluid"></div>
            <div class="text-center">
                <div>Samsung Galaxy 10</div>
                <div class="rating text-warning font-size-12">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                </div> 
                <div class="price py-2">
                    <span>#870,500.00</span>
                </div>
                <button type="submit" class="btn btn-warning font-size-12">Add to cart</button>
            </div>
        </div>   
      </div>
      <div class="col-sm">
        <div class="product font-rale">
            <div><img src="./assets/products/3.png" alt="product" class="img-fluid"></div>
            <div class="text-center">
                <div>Redmi</div>
                <div class="rating text-warning font-size-12">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                </div> 
                <div class="price py-2">
                    <span>#370,500.00</span>
                </div>
                <button type="submit" class="btn btn-warning font-size-12">Add to cart</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end of main session -->

<!-- banner ads -->
    <section id="banner-ads">
        <div class="container pt-5 text-center">
            <img src="assets/banner1-cr-500x150.jpg" alt="banner-img" class="img-fluid"/>
            <img src="assets/banner2-cr-500x150.jpg" alt="banner-img" class="img-fluid"/>
        </div>
    </section>
<!-- end of banner ads -->


<!-- start footer -->
<footer id="footer" class="bg-dark text-white py-5">
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-12">
            <h4 class="font-rubik font-size-20">Zakky Gadgets</h4>
            <p class="font-size-14 font-rale text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Recusandae eveniet nihil vero eum corporis.
            </p>
        </div>

        <div class="col-lg-4 col-12">
            <h4 class="font-rubik font-size-20">NewsLetter</h4>
            <form class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                </div>
            </form>
        </div>

        <div class="col-lg-2 col-12">
            <h4 class="font-rubik font-size-20">Information</h4>
            <div class="d-flex flex-column flex-wrap">
                <div class="font-rale font-size-14 text-white-50 pb-1">My Account</div>
                <div class="font-rale font-size-14 text-white-50 pb-1">Order History</div>
                <div class="font-rale font-size-14 text-white-50 pb-1">Wish list</div>
                <div class="font-rale font-size-14 text-white-50 pb-1">NewsLetter</div>
            </div>
        </div>

            <div class="col-lg-2 col-12">
                <h4 class="font-rubik font-size-20">Account</h4>
                <div class="d-flex flex-column flex-wrap">
                    <div class="font-rale font-size-14 text-white-50 pb-1">About us</div>
                    <div class="font-rale font-size-14 text-white-50 pb-1">Delivery Information</div>
                    <div class="font-rale font-size-14 text-white-50 pb-1">Privacy Policy</div>
                    <div class="font-rale font-size-14 text-white-50 pb-1">Terms and Conditions</div>
                </div>
            </div>
        </div>
        </div>
    </footer>
<div class="copyright text-center bg-dark text-white py-2">
<p class="font-rale font-size-14">&copy; Copyrights 2020 Design By <div class="color-second">Olanipekun Oladeji</div>
</div>  
        <!-- end of footer  -->